@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #fff;
    }
}
@keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #fff;
    }
}
@-webkit-keyframes fillColour {
    0% {
        color: #fff;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #333;
    }
}
@keyframes fillColour {
    0% {
        color: #fff;
    }
    50% {
        color: #fff;
    }
    100% {
        color: #333;
    }
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    margin:0;
}
.body-bg{
    width: 100vw;
    height: 100vh;
    background: url("../img/bg7.jpg") no-repeat center;
    background-size:cover;
}
.body-bg-cover{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.1);
    z-index: 2;
    top: 0;
    left: 0;
}
.main-body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
}
.menus{
    position: absolute;
    z-index: 2;
    width: 22vw;
    top:10vh;
    bottom:10vh;
    left:0;
    background: rgba(0,0,0,0.6);
    color:#fff;
    text-align: center;
}
.menu-h1{
    max-width: 160px;
    height: 40px;
    margin: 30px auto;
    border-radius: 8px;
    background: #000;
    text-align: center;
    line-height: 40px;
    padding: 8px;
}
.menu-item{
    margin: 10px 10% 10px 10%;
}
.menu-item a i{
    margin-right:8px;
}
.menu-item a, .menu-item a:visited, .menu-item a:active {
    color: #fff;
}
.menu-item a {
    position: relative;
    z-index: 0;
    padding: 0 0 0 30px;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    -webkit-transition: color 2s, background 1s;
    transition: color 2s, background 1s;
    line-height: 40px;
    display: inline-block;
    width: 120px;
    text-align: left;
}
.menu-item a.active {
    background-color: #fff;
    color: #232323;
}
.menu-item a::before {
    content: "";
    position: absolute;
    height: 0%;
    width: 0%;
    bottom: 0;
    left: 0;
    opacity: 1;
    z-index: -1;
}
.menu-item a:hover,.menu-item a.active {
    text-decoration: none;
    -webkit-animation: fillColour 0.7s forwards ease-in-out;
    animation: fillColour 0.7s forwards ease-in-out;
}
.menu-item a:hover::before {
    -webkit-animation: fill 0.7s forwards ease-in-out;
    animation: fill 0.7s forwards ease-in-out;
    opacity: 1;
}
.slides{
    width: 500vw;
    height: 100vh;
    transition: transform 0.8s ease;
}
.slide{
    width: 100vw;
    height: 100vh;
    float: left;
    position: relative;
}
.slide .content{
    position: absolute;
    top:10vh;
    right: 0;
    bottom:10vh;
    width: 70vw;
    background: rgba(0,0,0,0.6);
    color:#fff;
    text-align: center;
    padding:8px;
}
.slide1 .photo{
    width: 180px;
    border-radius: 25px;
}
.photo-p{
    margin:50px 0 20px 0;
}
.btn{
    width: 120px;
    height: 36px;
    text-align: center;
    letter-spacing: 2px
}
.btn-black{
    background: #000;
    color:#fff;
    border:2px solid #fff;
}
.btn-white{
    background: #fff;
    color:#000;
    border:2px solid #fff;
}
.btn-group{
    display: flex;
    justify-content: space-around;
    width: 260px;
    margin: 20px auto;
}
.ml-15{
    margin-left:15px;
}
.footer{
    position: absolute;
    color: #fff;
    bottom: 0;
    text-align: center;
    width: 100vw;
    padding-bottom: 10px;
}
@media screen and (max-width: 768px) {
    .menus a{
        width: auto;
        padding:0 20px;
    }
    .menus a i{
        font-size:28px;
        margin-right: 0;
    }
    .menus a span{
        display: none;
    }
    .menu-h1{
        margin: 30px 8px;
    }
    .subh1{
        display: none;
    }
}
@media screen and (max-width: 375px) {
    .btn-group{
        flex-direction: column;
        align-items: center;
        height: 100px;
    }
}
